{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Perfil{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body>  
    {% block header %}
    <nav class="user-profile-nav">
        <ul>
            <li><img src="{% if user.imgs %}{{ user.imgs.url }}{% else %}{% get_media_prefix %}uploads/UserProfile/default_profile_picture.jpg{% endif %}" alt="Foto de perfil" class="profile-img"></li>
            <li><h2>{{ user.name }} {{ user.last_name }}</h2></li>
            <li><a href="{% url 'mylog:logout' %}">Cerrar sesión</a></li>
        </ul>
    </nav>
    {% endblock %}

    {% block content %}
    {% endblock %}
</body>

</html>
