{% load static %}

<script src="{% static 'js/header.js' %}"></script>

<header class="header">
    <nav class="nav">
        <div class="containerLinks">
            <div>
                <a class="logo" href="/">
                    <h1>Logo del e-comerce</h1>
                </a>
            </div>
            <ul class="links">
                <li >
                    <a class="link" href="{% url 'mylog:cart' %}">
                        <img src="{% static 'icons/Svg/Cart.Svg' %}" alt="Carrito de compra">
                    </a>
                </li>
                <li class="link">
                    <a href="/log/">inicio de sesion</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

{% block content %}{% endblock %}